@charset "UTF-8";

body {
    height: 100vh;
    background-image: url(imagens/wallpaper002.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    text-align: justify;

}

main {
    background-color: white;
    max-width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    height: 1000px;
}

main h1 {
    text-align: center;
    
}

main p {
    text-indent: 30px;
}